body {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

header {
  margin: 1rem;
}

header h1 {
  font-weight: 700;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  display: flex;
  margin: auto;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}